<div class="container-fluid">
  <div class="app-navbar">
    <div class="app-header">
      <h1 class="app-title">EntradasYa</h1>
      <button class="app-header-btn-menu" (click)="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    <div class="app-menu">
      <a routerLink="/home" class="navbar-btn">Home</a>
      <a routerLink="/login" *ngIf="!isLogued" class="navbar-btn">Login</a>
      <a routerLink="/register" *ngIf="!isLogued" class="navbar-btn">Register</a>
      <a routerLink="/profile" *ngIf="isLogued" class="navbar-btn">Profile</a>
      <a routerLink="/search" *ngIf="isLogued" class="navbar-btn">Search</a>
      <a routerLink="/cart" class="navbar-btn">
        <img src="assets/cart.png" alt="Carrito" class="cart-icon" />
      </a>
      <a routerLink="/historial" *ngIf="isLogued" class="navbar-btn">Historial</a>
      <a routerLink="/admin-event" *ngIf="isAdmin" class="navbar-btn">Admin</a>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
