<div class="container">
  <h1 class="text-center mb-4">{{ title }}</h1>
  
  <!-- Botón estilizado para alternar destacados -->
  <div class="text-center mb-4">
    <button 
      class="btn btn-primary btn-lg"
      (click)="toggleDestacados()">
      {{ showOnlyDestacados ? '🌟 Ver Todos' : '🌟 Ver Destacados' }}
    </button>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let evento of filteredEventos">
      <app-card [data]="evento" [isEduUser]="isEduUser"></app-card>
    </div>
  </div>
</div>
