<div class="cart-container" id="cart-container">
  <h2>🛒 Carrito de Compras</h2>
  <div *ngFor="let ticket of tickets" class="ticket-item custom-ticket-item">
    <div class="card custom-card">
      <div class="row g-0 align-items-center">
        <div class="col-md-3 text-center">
          <img 
            [src]="getImageUrl(ticket.imagen)" 
            alt="Imagen del evento" 
            class="card-img custom-card-img img-fluid" 
          />
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h4 class="card-title">{{ ticket.nombre }}</h4>
            <p class="card-text">Fecha: {{ ticket.fecha | date: 'longDate' }}</p>
            <p class="card-text">Ubicación: {{ ticket.ubicacion }}</p>
            <div class="quantity-controls">
              <button class="btn btn-secondary" (click)="decrementQuantity(ticket)">-</button>
              <span class="quantity">{{ ticket.cantidad }}</span>
              <button class="btn btn-secondary" (click)="incrementQuantity(ticket)">+</button>
            </div>
            <p>
              Precio por Unidad: 
              <span *ngIf="ticket.descuento" class="text-muted text-decoration-line-through">
                ${{ ticket.precio }}
              </span>
              ${{ ticket.precio }}
            </p>            
            <p>
              Precio Total: ${{ getRoundedPrice(ticket.precioFinal * ticket.cantidad) }}
            </p>            
                       
            <button (click)="removeTicket(ticket.id)" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-summary">
    <h3>Total a Pagar: ${{ getRoundedPrice(total) }}</h3>
    <button (click)="confirmPurchase()" class="btn btn-primary">Confirmar Compra</button>
  </div>
</div>
